In [290]:
import numpy as np
import pandas as pd

In [292]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [294]:
movies.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [296]:
movies.head(3)

,movie_id,title,cast,crew
2798,14574,The Boy in the Striped Pyjamas,"[{""cast_id"": 5, ""character"": ""Bruno Hoess"", ""c...","[{""credit_id"": ""586135ff92514115c002f233"", ""de..."
3551,230266,Miss Julie,"[{""cast_id"": 2, ""character"": ""Miss Julie"", ""cr...","[{""credit_id"": ""52fe4dd3c3a36847f826fc51"", ""de..."
2684,12158,Vampire in Brooklyn,"[{""cast_id"": 12, ""character"": ""Maximillian | P...","[{""credit_id"": ""52fe44c19251416c7503fcb7"", ""de..."

In [298]:
#Merge both Datasets because its hectic to deal both at same
movies = movies.merge(credits,on ='title')

In [300]:
movies.sample(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
3668,0,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 35, ...",http://www.thestuckmovie.com/#menu,340816,"[{""id"": 1003, ""name"": ""photographer""}, {""id"": ...",en,Christmas Eve,"Hilarity, romance, and transcendence prevail a...",1.985243,"[{""name"": ""Unstuck"", ""id"": 69292}]",...,95.0,"[{""iso_639_1"": ""pt"", ""name"": ""Portugu\u00eas""}...",Released,They'll be home for Christmas...if only in the...,Christmas Eve,6.1,24,340816,"[{""cast_id"": 0, ""character"": ""Harris"", ""credit...","[{""credit_id"": ""5661bb9ac3a36875f1007efd"", ""de..."

In [77]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [302]:
# we kept only these columns which is given below from data set
#gener  #id #keywords #tittle #overview #popularity #cast #crew
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [304]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [312]:
#  Data Analyst or Preprocessig
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [310]:
movies.dropna(inplace=True)

In [314]:
movies.duplicated().sum()

0

In [318]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [320]:
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
        return L

In [322]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
)

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [326]:
movies['genres']= movies['genres'].apply(convert)

In [328]:
movies.sample(4)

,movie_id,title,overview,genres,keywords,cast,crew
3665,19615,Flying By,A real estate developer goes to his 25th high ...,[Drama],[],"[{""cast_id"": 1, ""character"": ""George"", ""credit...",[]
3073,82532,"Jeff, Who Lives at Home",Dispatched from his basement room on an errand...,[Drama],"[{""id"": 8631, ""name"": ""slacker""}, {""id"": 9866,...","[{""cast_id"": 21, ""character"": ""Jeff"", ""credit_...","[{""credit_id"": ""52fe485a9251416c91089613"", ""de..."
1977,13476,Win a Date with Tad Hamilton!,A small-town girl wins a date with a Hollywood...,[Comedy],"[{""id"": 6562, ""name"": ""celebrity""}, {""id"": 979...","[{""cast_id"": 1, ""character"": ""Tad Hamilton"", ""...","[{""credit_id"": ""52fe456e9251416c75056483"", ""de..."
630,3981,What Women Want,Advertising executive Nick Marshall is as cock...,[Comedy],"[{""id"": 515, ""name"": ""women""}, {""id"": 1475, ""n...","[{""cast_id"": 16, ""character"": ""Darcy McGuire"",...","[{""credit_id"": ""52fe43aac3a36847f806613f"", ""de..."

In [330]:
movies['keywords']=movies['keywords'].apply(convert)

In [332]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],[culture clash],"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],[ocean],"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,[Action],[spy],"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,[Action],[dc comics],"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...",[Action],[based on novel],"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [334]:
def convert3(obj):
    L=[]
    counter=0    
    for i in ast.literal_eval(obj):
         if counter != 3:
             L.append(i['name'])
             counter+=1
         else:
             break
    return L

In [336]:
movies['cast']=movies['cast'].apply(convert3)

In [337]:
movies.sample(3)

,movie_id,title,overview,genres,keywords,cast,crew
1881,57431,The Sitter,"Noah, is not your typical entertain-the-kids-n...",[Comedy],[babysitter],"[Sam Rockwell, Jonah Hill, Max Records]","[{""credit_id"": ""52fe4933c3a36847f818e6ed"", ""de..."
241,308531,Teenage Mutant Ninja Turtles: Out of the Shadows,"After supervillain Shredder escapes custody, h...",[Fantasy],[brother brother relationship],"[Megan Fox, Stephen Amell, Will Arnett]","[{""credit_id"": ""551b8ef6c3a3687682001b51"", ""de..."
4578,15389,Metropolitan,A sparkling comedic chronicle of a middle-clas...,[Comedy],[upper class],"[Edward Clements, Chris Eigeman, Taylor Nichols]","[{""credit_id"": ""52fe46559251416c75074ffb"", ""de..."

In [340]:
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':        
         L.append(i['name'])
        break
    return L

In [342]:
movies['crew']=movies['crew'].apply(fetch_director)

In [343]:
movies.sample(4)

,movie_id,title,overview,genres,keywords,cast,crew
4633,318040,Bizarre,"Maurice, a reticent young homeless man, someho...",[Drama],None,"[Pierre Prieur, Adrian James, Raquel Nave]",[]
4525,41144,To Save A Life,Jake Taylor has everything. He has a beautiful...,[Drama],[christian],"[Randy Wayne, Deja Kreutzberg, Joshua Weigel]",[Brian Baugh]
2093,274,The Silence of the Lambs,"FBI trainee, Clarice Starling ventures into a ...",[Crime],[based on novel],"[Jodie Foster, Anthony Hopkins, Scott Glenn]",[]
613,11371,The Score,An aging thief hopes to retire and live off hi...,[Action],[quebec],"[Robert De Niro, Edward Norton, Marlon Brando]",[]

In [346]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [348]:
movies['overview'].apply(lambda x:x.split())

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [350]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [352]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",[Action],[culture clash],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",[Adventure],[ocean],"[Johnny Depp, Orlando Bloom, Keira Knightley]",[]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...",[Action],[spy],"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",[Action],[dc comics],"[Christian Bale, Michael Caine, Gary Oldman]",[]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...",[Action],[based on novel],"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[]

In [378]:
#for space removing
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [382]:
movies.sample(3)

,movie_id,title,overview,genres,keywords,cast,crew
3063,14283,The Red Violin,"[Spans, 300, years, in, the, life, of, one, fa...",[Drama],[auction],"[CarloCecchi, IreneGrazioli, AnitaLaurenzi]",[]
735,10771,The Tuxedo,"[Cabbie-turned-chauffeur, Jimmy, Tong, learns,...",[Thriller],[bomb],"[JackieChan, JenniferLoveHewitt, JasonIsaacs]",[]
2686,12158,Vampire in Brooklyn,"[Maximillian,, the, lone, survivor, of, a, rac...",[Comedy],[vampire],"[EddieMurphy, AngelaBassett, AllenPayne]",[]

In [384]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [386]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",[Action],[culture clash],"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",[Adventure],[ocean],"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...",[Action],[spy],"[DanielCraig, ChristophWaltz, LéaSeydoux]",[],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",[Action],[dc comics],"[ChristianBale, MichaelCaine, GaryOldman]",[],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...",[Action],[based on novel],"[TaylorKitsch, LynnCollins, SamanthaMorton]",[],"[John, Carter, is, a, war-weary,, former, mili..."

In [388]:
new_df=movies[['movie_id','title','tags']]

In [402]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x) if isinstance(x, list) else str(x))

C:\Users\Muhammad Subhan\AppData\Local\Temp\ipykernel_2252\3680364151.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x) if isinstance(x, list) else str(x))

In [404]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [440]:
# stemming Technique to equal the words
import nltk

In [442]:
from nltk.stem.porter import PorterStemmer

In [444]:
ps= PorterStemmer()

In [478]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
        return " ".join(y)

In [494]:
new_df['tags'] = new_df['tags'].apply(ps.stem)

C:\Users\Muhammad Subhan\AppData\Local\Temp\ipykernel_2252\3626061436.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(ps.stem)

In [496]:
new_df['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action culture clash samworthington zoesaldana sigourneyweav'

In [498]:
new_df['tags'][1]

'captain barbossa, long believed to be dead, has come back to life and is headed to the edge of the earth with will turner and elizabeth swann. but nothing is quite as it seems. adventure ocean johnnydepp orlandobloom keiraknightley'

In [500]:
#convert the tags into vector
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000 , stop_words='english')

In [502]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [504]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [532]:
cv.get_feature_names_out()

AttributeError: 'numpy.ndarray' object has no attribute 'info'

In [508]:
ps.stem('In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action culture clash SamWorthington ZoeSaldana SigourneyWeaver'
)

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action culture clash samworthington zoesaldana sigourneyweav'

In [526]:
#cosine distance to calculate the distance between movies we not use distance formula bcz when you work with high dimension cosine is best option
from sklearn.metrics.pairwise import cosine_similarity

In [534]:
similarity=cosine_similarity(vectors)

In [574]:
#Enumerate func to hold the index
sorted(list(enumerate(similarity[0])),reverse=True, key= lambda x:x[1])[1:6]

[(3606, 0.23814483610392015),
 (529, 0.1797212886723974),
 (151, 0.1781741612749496),
 (311, 0.15936381457791915),
 (942, 0.15075567228888181)]

In [590]:
def recommend(movie):
    movie_index=new_df[new_df['title'] == movie].index[0]
    distance = similarity[movie_index]
    movies_list= sorted(list(enumerate(distance)),reverse=True, key= lambda x:x[1])[1:6]
    for i in movies_list:
        #Fecthing title from data rather than index
        print(new_df.iloc[i[0]].title)

In [594]:
recommend('Avatar')

Apollo 18
Tears of the Sun
Beowulf
The Adventures of Pluto Nash
The Book of Life

In [596]:
import pickle

In [608]:
pickle.dump(new_df.to_dict() , open('movies_dict.pkl','wb'))

In [606]:
new_df["title"].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [612]:
pickle.dump(similarity, open('similarity.pkl','wb'))